<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyConn"
			 connectionString="Server=localhost;Database=vynil;Uid=root;Password=;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="IdleTimeoutSeconds" value="3"/>
	</appSettings>
</configuration>